html{
    font-size: 20px;
    text-align: center;


}

body{
    font-family: "Arial","Meirio",sans-serif;
}

.myprofile{
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-shadow:2px 3px 3px grey;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115,115,114);

}

.h2-1{
    color:rgb(255,192,203);
}

.h2-2{
    color:skyblue;
}

#basic p  {
    font-weight: bold;
}